html {
  background-color: rgba(209, 209, 202, 0.816);
  font-family: Tahoma;
  font-size: 17px;
}

form {
  background-color: rgb(255, 255, 255);
  width: 650px;
  height: 400px;
  margin: 100px 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.203);
}

h1 {
  text-align: center;
  padding: 10px;
}

#calc_area {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  text-align: left;
  color: rgb(53, 52, 52);
}

#bill_amount,
#tip_percentage {
  margin: 10px 0px 10px 0px;
  width: 550px;
  height: 25px;
  font-family: Tahoma;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid rgba(209, 209, 202, 0.816);
}

button {
  margin: 10px 0px 10px 0px;
  width: 550px;
  height: 35px;
  font-family: Tahoma;
  font-size: 16px;
  border: none;
  background-color: rgb(31, 162, 31);
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: rgb(24, 132, 24);
}

span {
  font-weight: bold;
  font-size: 20px;
}
